.title {
  padding: 10px;
  font-size: larger;
}

.pfp {
  border-radius: 50%;
  width: 40px;
  margin-right: 10px;
}

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-left: 10px;
}

.text-container {
  max-width: 70%; /* Adjust the max-width as needed */
}

body {
  background-color: #000000; /* Replace with your desired color code */
}